:root {
  //菜单
  --menuItemTextColor: #ece5d8;
  --menuItemBackgroundColor: #3a3d4c;
  --menuItemActiveTextColor: #3b4255; //子菜单选择字体颜色
  --menuItemActiveBackgroundColor: #ece5d8; //子菜单选择背景颜色
  --menuItemBorderLeft: 5px solid #0ece4b; //左侧下划线
  --menuItemHoverTextColor: #3b4255;
  --menuItemHoverBackgroundColor: #6eacf4;
  --menuTextColor: #ece5d8;
  --menuBackgroundColor: #3b4255;
  --menuHoverTextColor: #3b4255;
  --menuHoverBackgroundColor: #6eacf4;
  --tagsViewHeight: 40px;
  --tagsViewBackgroundColor: #6eacf4;
  //伸缩框
  --collapseBackGround: url("@/assets/images/background/国王与宝剑.jpg");
  //导航栏
  --headerHeight: 50px;
  --headerBackground: linear-gradient(to right, #aebaca, #d5d9df);
}

.btn {
  margin-right: 8px;
}

#nprogress .bar {
  background: linear-gradient(to right, #aebaca, #347eee); //自定义进度条颜色
}
